* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightcyan;
    height: 8vh;
}

header > h4 {
    background-color: lightblue;
    padding: 5px 6px;
    border: 2px dashed lightseagreen;
}

header > h4 > a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    height: fit-content;
    padding: 10px 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: papayawhip;
}