{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles/layout.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %} {% endblock %}
</head>
<body>

    <header>
        <h3><a href="{% url 'index' %}">Logo</a></h3>
        
        <h3><a href="#">Inicio</a></h3>
    </header>
    

    
    <main>

        {% block content %}
        {% endblock %}

    </main>


    <footer>Ejemplo de Repaso de Django y Django Forms</footer>

</body>
</html>
