{% extends 'misEncuestas/layout.html' %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block content %}
    <br><br><br>
    
    <div class="banner bordeGeneral">
        <h1>Una página para responder encuestas. 😎</h1>
    </div>

    <hr>

    <section class="seccionEncuestas bordeGeneral">
        <h2>Encuestas disponibles:</h2>

        <div class="encuestas"><a href="{% url 'encuestas' 'HTML' %}"><h2>HTML</h2></a></div>
        <div class="encuestas"><a href="{% url 'encuestas' 'CSS' %}"><h2>CSS</h2></a></div>
        <div class="encuestas"><a href="{% url 'encuestas' 'Git' %}"><h2>Git</h2></a></div>

    </section>


    {% comment %}
    <!-- Inputs Estilizados -->
    <textarea name="" id="" cols="30" rows="3" class="inputs-large" resize="false" placeholder="Ingresa un dato"></textarea>
    <input type="text" class="inputs-large" name="" placeholder="Ingresa un dato">
    <input type="password" class="inputs-large" name="" placeholder="Ingresa un dato">
    <input type="email" class="inputs-large" name="" placeholder="Ingresa un dato">
    <input type="number" class="inputs-large" min="0" name="" placeholder="Ingresa un dato">

    <!-- Inputs Botones -->
    <input type="button" class="inputs-small" value="Jeje">
    <input type="submit" class="inputs-small" value="Enviar">

    {% endcomment %}

{% endblock %}